{% extends 'materialize/layout.html.twig' %}
{% block title %}Page introuvable{% endblock %}

{% block content %}
  <center>
    <h3>Erreur</h3>
    <p>Une erreur inconnue s'est produite.</p>
  </center>
{% endblock %}
