{% extends 'materialize/layout.html.twig' %}
{% block title %}Page introuvable{% endblock %}

{% block content %}
  <center>
    <img src="{{ asset('bundles/ski/img/404.gif') }}" class="responsive-img">
    <h3>Erreur 404</h3>
    <p>La page que vous recherchez est introuvable.</p>
  </center>
{% endblock %}
