{% extends 'materialize/layout.html.twig' %}
{% block title %}Administration{% endblock %}

{% block content %}
  <div class="row">
      <h4>Administration</h4>
      <p>Bienvenue sur votre espace d'administration.</p>
  </div>
{% endblock %}
