{% extends 'materialize/layout.html.twig' %}
{% block title %}Membres{% endblock %}

{% block content %}
  <div class="row">
      <h4>Membres</h4>
      <p>Bienvenue sur l'espace de gestion des membres.</p>
      <div class="card">
          <div class="card-content">
              Fonctionnalité en cours de développement.
          </div>
      </div>
  </div>
{% endblock %}
