{% extends 'materialize/layout.html.twig' %}
{% block title %}Mes avis{% endblock %}

{% block content %}
  <div class="row">
      <h4>Mes avis</h4>
      <p>Retrouvez tous les avis que vous avez postés.</p>
      <div class="col l12">
          <div class="card">
            <div class="card-content">
                Aucun avis trouvé.
            </div>
          </div>
      </div>
  </div>
{% endblock %}
