<h3>Bienvenue sur CriticSki !</h3>
Bonjour <b>{{ firstname }} {{ lastname|upper }}</b>,
<br><br>
Vous recevez ce mail car vous vous êtes récemment inscrit sur CriticSki.<br>
Pour vous connecter et accéder à votre espace personnel, <a href="{{ url('login') }}">cliquez ici</a>.
<br><br>
A très bientôt !<br>
L'équipe CriticSki.
